<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SessionTimeout</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SessionTimeout", "Index", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav">@Html.ActionLink("Pag1", "Pag1", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })</ul>
                <ul class="nav navbar-nav">@Html.ActionLink("Pag2", "Pag2", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })</ul>
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav">@Html.ActionLink("Logout", "CloseSession", "Home", new { area = "" }, new { @class = "navbar-brand" })</ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <!-- Modal -->
        <div class="modal fade" id="sesionExpiradaModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">¡Advertencia!</h4>
                    </div>
                    <div class="modal-body">
                        <center>
                            <h2>Su sesión expirará en:</h2>
                            <h1>
                                <span class="cuentaRegresivaNum" id="cuentaRegresiva">30</span>
                            </h1>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btn-close-session-modal">Cerrar sesión</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-keep-session-modal">Continuar en sesión</button>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .cuentaRegresivaNum {
                font-weight: 800;
            }
        </style>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - josuemercally@gmail.com</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/session.time.js"></script>
</body>
</html>